* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
    box-sizing: border-box;

    color: white;
    background: #000;
    background-image: url(./bg-image.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    letter-spacing: -0.01em;


    
}

header {
    padding: 20px 40px;
    width: 100%;
}

.header {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.page-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.page-text h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 125%;
    max-width: 577px;
    text-align: center;
}
.page-text h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #F8FAFC;
    text-align: center;
    line-height: 150%;
    max-width: 640px;
}

 .form-container {
    margin: 72px 200px;
    max-width: 810px;
    padding: 32px;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.2);
}
form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 1rem;
}


input[type="text"], input[type="email"], select, textarea,button{
    width: 100%;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    padding: 24px 22px; 
    border: 1px solid whitesmoke;
    border: none;
    border-radius: 16px;
    color: #4036A9;
    background: #F8FAFC;
}

.input-row {
    display: flex;
    gap: 18px;
    margin-bottom: 20px;
}
.form-group {
    flex: 1;
}

select{
    appearance: none;
    background: #F8FAFC url('./img/Expand_down.svg') no-repeat right 22px center;
    background-size: 24px;
}
label {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 4px;
    color: #F8FAFC;
}

::placeholder,select {
    font-size: 1rem;
    font-weight: 600;
    /* color: black; */

}
textarea {
    height: 206px;
    resize: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.message {
    margin-bottom: 24px;
}
button{
    font-size: 1.25rem;
    font-family: "Be Vietnam Pro", serif;
    color: #291db3;
    font-weight: 600;
    text-align: center;
    padding: 24px auto;
}
select,textarea::placeholder {
    color: black;
}

@media (max-width:1024px) {
    header {
        padding: 24px 0;
    }
    .page-text h1{
        font-size: 3rem;
    }
    .page-text h2 {
        font-size: 1.25rem;
        max-width: 466px;
    }
    .form-container {
        max-width: 960px;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    form {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .form-container {
        max-width: 599px;
        width: 100%;
    }
    .input-row {
        display: flex;
        flex-direction: column;
    }
    
    button {
        margin-bottom: 100px;
    }
}